<ng-container *ngFor="let fruit of fruits">
  <ng-container  *ngTemplateOutlet="isFruit; context: {fruit: fruit}"></ng-container>
</ng-container>

<ng-template #isFruit let-nameOfFruit="fruit">
  <div>Fruit Template</div>
  <p>{{ nameOfFruit }}</p>
</ng-template>


<ng-container *ngTemplateOutlet="true ? employee : user; 
  context: { name: 'Kate', age: 23 }">
</ng-container>

<ng-template #user let-myName="name" let-myAge="age">
  <h3>User Template</h3>
  <p>Name: {{ myName }}</p>
  <p>Age: {{ myAge }}</p>
</ng-template>

<ng-template #employee let-myName="name" let-myAge="age">
  <h3>Employee Template</h3>
  <p>{{ myName }}</p>
</ng-template>
